html{
    background-color: rgb(164, 196, 164);
}
/* LOADER */
.loader {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.15s;
    position: fixed;
    z-index: 9999;
    background: rgb(164, 196, 164);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Raleway'Arial,
        sans-serif;
}
.title {
    position: absolute;
    top: 220px;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Raleway', Arial, sans-serif;
    color: #656666;
}
@-webkit-keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}
@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}
.loading {
    width: 100px;
    height: 100px;
}
.loading__ring {
    position: absolute;
    width: 100px;
    height: 100px;
}
.loading__ring:first-child {
    transform: skew(30deg, 20deg);
}
.loading__ring:last-child {
    transform: skew(-30deg, -20deg) scale(-1, 1);
}
.loading__ring:last-child svg {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}
.loading__ring svg {
    -webkit-animation: rotate 1s linear infinite;
    animation: rotate 1s linear infinite;
    fill: rgba(0, 0, 0, 0.2);
}

/* BOTON */
.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #656666;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    position: relative;
    top: 300px;
    left: 560px;
}
.button:hover {
    background-color: #292929
}
.button:active {
    background-color: #292929;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* XML */
Karate {
    background-color: rgb(164, 196, 164);
}
Aspirante {
    display: table;
    margin: 15px;
}
Aspirante:before{
    content: "Datos Aspirante: ";
    background-color: white;
    display: block;
    border: black 1px solid;
    display: table-cell;
    padding: 6px;
}
Aspirante Id_Aspirante, 
Aspirante Nombres, 
Aspirante Apellidos, 
DNI, Telefono, 
Direccion, 
Fecha_Nacimiento, 
DAN, Cinturon, 
Fecha_Ingreso_DAN,
Fecha_Anterior_DAN {
    border: black 1px solid;
    display: block;
    position: relative;
    display: table-cell;
    padding: 6px;
    background-color: cadetblue;
}
FotoAspirante, 
FotoDNI, 
FotoCarnetGrados {
    border: black 1px solid;
    position: block;
    display: table-cell;
    padding: 6px;
    background-color: cadetblue;
}
Aspirante Id_Aspirante:before{
    content: "ID: ";
}
Aspirante Nombres:before{
    content: "Nombre: ";
}
Aspirante Apellidos:before{
    content: "Apellido: ";
}
Aspirante DNI:before{
    content: "DNI: ";
}
Aspirante Telefono:before{
    content: "TLF: ";
}
Aspirante Fecha_Nacimiento:before{
    content: "F. Nacimiento: ";
}
Aspirante DAN:before{
    content: "DAN: ";
}
Aspirante Cinturon:before{
    content: "Cinturon: ";
}
Aspirante Fecha_Ingreso_DAN:before{
    content: "F. Ingreso Actual: ";
}
Aspirante Fecha_Anterior_DAN:before{
    content: "F. Ingreso Anterior: ";
}

Meritos {
    display: table;
    margin: 15px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
Meritos:before{
    content: "Meritos: ";
    display: block;
    border: black 1px solid;
    display: table-cell;
    padding: 6px;
    background-color: white;
}
Meritos Id_Aspirante, 
Edad_Aspirante,
LicenciaActualizada,
TrabajoEscrito {
    border: black 1px solid;
    display: block;
    position: relative;
    display: table-cell;
    padding: 6px;
    background-color: rgb(111, 112, 182);
}
Meritos Id_Aspirante:before{
    content: "ID: ";
}
Meritos Edad_Aspirante:before{
    content: "Edad: ";
}
Meritos LicenciaActualizada:before{
    content: "Licencia Actualizada: ";
}
Meritos TrabajoEscrito:before{
    content: "Trabajo Escrito: ";
}

Tribunal{
    margin: 15px;
}
Tribunal:before{
    content: "Tribunal: ";
    display: block;
    border: black 1px solid;
    display: table-cell;
    padding: 6px;
    background-color: white;
}
Num_Jueces,
Calificacion_final{
    border: black 1px solid;
    display: block;
    position: relative;
    display: table-cell;
    padding: 6px;
    background-color: rgba(75, 139, 123, 0.822);
}
Tribunal Num_Jueces:before{
    content: "Num. Jueces: ";
}
Tribunal Calificacion_final:before{
    content: "Calificacion final: ";
}
Tribunal Jueces:before{
    content: "Info. Juez: ";
    border: black 1px solid;
    padding: 6px;
    display: table;
    margin: 15px;
    background-color: white;
}
Nombres,
Apellidos, 
Diploma {
    border: black 1px solid; 
    display: table-cell;
    padding: 6px;
    background-color: rgba(75, 139, 123, 0.822);
    margin-left: 0px;
}
Id_Jueces{
    border: black 1px solid;
    display: inline-block;
    padding: 6px;
    background-color: rgba(75, 139, 123, 0.822);
    margin-left: 15px;
}
Jueces Nombres:before{
    content: "Nombre: ";
}
Jueces Apellidos:before{
    content: "Apellido: ";
}
Jueces Diploma:before {
    content: "Diploma: ";
}
CinturonNegro1DAN{
    display: table;
    margin: 15px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    bottom: 299px;
    right: 135px;
}
CinturonNegro1DAN:before {
    content: "Examen: ";
    display: block;
    border: black 1px solid;
    display: table-cell;
    padding: 6px;
    background-color: white;
}
TecnicaDefensa,
TecnicaPierna,
TecnicaDirectaIndirecta,
TecnicaCombinada,
Teoria,
Kata,
Kumite,
AplicacionTecnica {
    border: black 1px solid;
    display: list-item;
    padding: 6px;
    background-color: rgba(150, 230, 174, 0.822);
    width: 180px;
    list-style:none;
}
TecnicaDefensa:before {
    content: "Tecnica Defensa: ";
}
TecnicaPierna:before {
    content: "Tecnica Pierna: ";
}
TecnicaDirectaIndirecta:before {
    content: "Tecnica Directa/Indirecta: ";
}
TecnicaCombinada:before {
    content: "Tecnica Combinada: ";
}
Teoria:before {
    content: "Teoria: ";
}
Kata:before {
    content: "Kata: ";
}
Kumite:before {
    content: "Kumite: ";
}
AplicacionTecnica:before {
    content: "Aplicacion Tecnica: ";
}
Resultados {
    display: table;
    margin: 15px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    bottom: 480px;
    left: 200px;
}
Resultados:before {
    content: "Resultados: ";
    display: block;
    border: black 1px solid;
    display: table-cell;
    padding: 6px;
    background-color: white;
}
ApruebaExamen {
    border: black 1px solid;
    display: list-item;
    padding: 6px;
    background-color: rgb(57, 185, 57);
    width: 180px;
    list-style: none;
}
SiguienteCurso:before {
    content: "Examen Aprobado: ";
}
