Aspirante {
    display: table;
    margin: 15px;
}
Aspirante:before{
    content: "Datos Aspirante: ";
    display: block;
    border: black 1px solid;
    display: table-cell;
    padding: 6px;
}
Aspirante Id_Aspirante, 
Aspirante Nombres, 
Aspirante Apellidos, 
DNI, Telefono, 
Direccion, 
Fecha_Nacimiento, 
DAN, Cinturon, 
Fecha_Ingreso_DAN,
Fecha_Anterior_DAN {
    border: black 1px solid;
    display: block;
    position: relative;
    display: table-cell;
    padding: 6px;
    background-color: cadetblue;
}
FotoAspirante, 
FotoDNI, 
FotoCarnetGrados {
    border: black 1px solid;
    position: block;
    display: table-cell;
    padding: 6px;
    background-color: cadetblue;
}
Aspirante Id_Aspirante:before{
    content: "ID: ";
}
Aspirante Nombres:before{
    content: "Nombre: ";
}
Aspirante Apellidos:before{
    content: "Apellido: ";
}
Aspirante DNI:before{
    content: "DNI: ";
}
Aspirante Telefono:before{
    content: "TLF: ";
}
Aspirante Fecha_Nacimiento:before{
    content: "F. Nacimiento: ";
}
Aspirante DAN:before{
    content: "DAN: ";
}
Aspirante Cinturon:before{
    content: "Cinturon: ";
}
Aspirante Fecha_Ingreso_DAN:before{
    content: "F. Ingreso Actual: ";
}
Aspirante Fecha_Anterior_DAN:before{
    content: "F. Ingreso Anterior: ";
}

Meritos {
    display: table;
    margin: 15px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
Meritos:before{
    content: "Meritos: ";
    display: block;
    border: black 1px solid;
    display: table-cell;
    padding: 6px;
}
Meritos Id_Aspirante, 
Edad_Aspirante,
LicenciaActualizada,
TrabajoEscrito {
    border: black 1px solid;
    display: block;
    position: relative;
    display: table-cell;
    padding: 6px;
    background-color: yellowgreen;
}
Meritos Id_Aspirante:before{
    content: "ID: ";
}
Meritos Edad_Aspirante:before{
    content: "Edad: ";
}
Meritos LicenciaActualizada:before{
    content: "Licencia Actualizada: ";
}
Meritos TrabajoEscrito:before{
    content: "Trabajo Escrito: ";
}

Tribunal{
    margin: 15px;
}
Tribunal:before{
    content: "Tribunal: ";
    display: block;
    border: black 1px solid;
    display: table-cell;
    padding: 6px;
}
Num_Jueces,
Calificacion_final{
    border: black 1px solid;
    display: block;
    position: relative;
    display: table-cell;
    padding: 6px;
    background-color: rgba(75, 139, 123, 0.822);
}
Tribunal Num_Jueces:before{
    content: "Num. Jueces: ";
}
Tribunal Calificacion_final:before{
    content: "Calificacion final: ";
}
Tribunal Jueces:before{
    content: "Info. Juez: ";
    border: black 1px solid;
    padding: 6px;
    display: table;
    margin: 15px;
}
Nombres,
Apellidos, 
Diploma {
    border: black 1px solid; 
    display: table-cell;
    padding: 6px;
    background-color: rgba(75, 139, 123, 0.822);
    margin-left: 0px;
}
Id_Jueces{
    border: black 1px solid;
    display: inline-block;
    padding: 6px;
    background-color: rgba(75, 139, 123, 0.822);
    margin-left: 15px;
}
Jueces Nombres:before{
    content: "Nombre: ";
}
Jueces Apellidos:before{
    content: "Apellido: ";
}
Jueces Diploma:before {
    content: "Diploma: ";
}
CinturonNegro1DAN{
    display: table;
    margin: 15px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    bottom: 299px;
    right: 135px;
}
CinturonNegro1DAN:before {
    content: "Examen: ";
    display: block;
    border: black 1px solid;
    display: table-cell;
    padding: 6px;
}
TecnicaDefensa,
TecnicaPierna,
TecnicaDirectaIndirecta,
TecnicaCombinada,
Teoria,
Kata,
Kumite,
AplicacionTecnica {
    border: black 1px solid;
    display: list-item;
    padding: 6px;
    background-color: rgba(150, 230, 174, 0.822);
    width: 180px;
    list-style:none;
}
TecnicaDefensa:before {
    content: "Tecnica Defensa: ";
}
TecnicaPierna:before {
    content: "Tecnica Pierna: ";
}
TecnicaDirectaIndirecta:before {
    content: "Tecnica Directa/Indirecta: ";
}
TecnicaCombinada:before {
    content: "Tecnica Combinada: ";
}
Teoria:before {
    content: "Teoria: ";
}
Kata:before {
    content: "Kata: ";
}
Kumite:before {
    content: "Kumite: ";
}
AplicacionTecnica:before {
    content: "Aplicacion Tecnica: ";
}
Resultados {
    display: table;
    margin: 15px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    bottom: 480px;
    left: 200px;
}
Resultados:before {
    content: "Resultados: ";
    display: block;
    border: black 1px solid;
    display: table-cell;
    padding: 6px;
}
ApruebaExamen {
    border: black 1px solid;
    display: list-item;
    padding: 6px;
    background-color: green;
    width: 180px;
    list-style: none;
}
SiguienteCurso:before {
    content: "Examen Aprobado: ";
}
